:root{

    --rosa:#FFD6E8;
    --rosa-fuerte:#FF6EA8;

    --celeste:#CFEFFF;
    --celeste-fuerte:#6AB8FF;

    --blanco:#FFFDFD;

    --lavanda:#EEE6FF;

    --sombra:#FFEAF5;

}
body{

    margin:0;
    background:var(--blanco);
    font-family:'Quicksand',sans-serif;
}

/* Banner */

header{
    background:linear-gradient(90deg,var(--celeste),var(--rosa));
    padding:40px;
    text-align:center;
    border-bottom:5px solid white;
}

header h1{
    margin:0;
    font-size:55px;
    font-family:'Pacifico',cursive;
    color:var(--rosa-fuerte);
}

header p{
    color:var(--celeste-fuerte);
    margin-top:10px;
}

/* Menú */

.menu{

display:flex;

justify-content:center;

gap:30px;

background:white;

padding:15px;
border-bottom:4px dashed var(--rosa);
position:sticky;

top:0;

box-shadow:0 2px 10px rgba(0,0,0,.08);

}

.menu a{

background:white;

padding:8px 18px;

border-radius:50px;

border:2px solid var(--rosa);

text-decoration:none;

color:var(--rosa-fuerte);

font-weight:bold;

transition:.3s;

}

.menu a:hover{

background:var(--rosa);

color:var(--celeste-fuerte);

transform:translateY(-3px);

}

/* Contenido */

.contenedor{

display:grid;

grid-template-columns:230px 1fr 230px;

gap:20px;

padding:25px;

}

/* Cajitas */

.caja,
.post{
    background:rgba(255,255,255,.95);
    border-radius:18px;
    padding:20px;
    border:3px solid var(--rosa);
    box-shadow:8px 8px 0px var(--sombra);
    margin-bottom:20px;
    transition:.3s;
    transform:rotate(-1deg);
}

.caja:hover,
.post:hover{
    transform:translateY(-5px);
}

.caja h3{

margin-top:0;

color:var(--rosa-fuerte);

text-align:center;

font-size:22px;

}

.post h2{

margin-top:0;

color:var(--celeste-fuerte);

}

@media(max-width:900px){

.contenedor{

grid-template-columns:1fr;

}

}
