body{
    margin:0;
    background:#fff8fc;
    font-family:'Quicksand',sans-serif;
}

/* Banner */

header{
    background:linear-gradient(90deg,#cfefff,#ffd6e8);
    padding:40px;
    text-align:center;
    border-bottom:5px solid white;
}

header h1{
    margin:0;
    font-size:55px;
    font-family:'Pacifico',cursive;
    color:#ff6ea8;
}

header p{
    color:#6aa9d8;
    margin-top:10px;
}

/* Menú */

.menu{

display:flex;

justify-content:center;

gap:30px;

background:white;

padding:15px;

position:sticky;

top:0;

box-shadow:0 2px 10px rgba(0,0,0,.08);

}

.menu a{

background:white;

padding:8px 18px;

border-radius:50px;

border:2px solid #ffd4ea;

text-decoration:none;

color:#ff6ea8;

font-weight:bold;

transition:.3s;

}

.menu a:hover{

background:#ffdff0;

color:#6ab8ff;

transform:translateY(-3px);

}

/* Contenido */

.contenedor{

display:grid;

grid-template-columns:230px 1fr 230px;

gap:20px;

padding:25px;

}

/* Cajitas */

.caja,
.post{
    background:rgba(255,255,255,.95);
    border-radius:18px;
    padding:20px;
    border:3px solid #ffd4ea;
    box-shadow:8px 8px 0px #ffeaf5;
    margin-bottom:20px;
    transition:.3s;
}

.caja:hover,
.post:hover{
    transform:translateY(-5px);
}

.caja h3{

margin-top:0;

color:#ff6ea8;

}

.post h2{

margin-top:0;

color:#6ab8ff;

}

@media(max-width:900px){

.contenedor{

grid-template-columns:1fr;

}

}
